<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pig: Latinized</title>
</head>
<body>
  <h1>You turned</h1>
  <h2><%= @old %></h1>
  <h1>Into</h1>
  <h2><%= @new %></h2>
</body>
</html>
